<style>

</style>

<div class="page-width">

    <h1>{{ section.settings.heading_text  }}</h1>
    <p>{{ section.settings.paragraph_text }} </p>
    {{ section.settings.mylucky_number }}

</div>


{% schema %}

{
    "name": "Class 1",
    "settings": [
        {
        "type": "text",
        "id": "heading_text",
        "label": "Heading"
        },
        {
            "type": "textarea",
            "id": "paragraph_text",
            "label": "White Paragraph",
            "default": "Tell your brand story here"
        
        },
        {
        "type": "number",
        "id": "mylucky_number",
        "label": "Lucky Number",
        "default": 1234
        }
    ],
    "blocks": [],
    "presets": [
        {
        "name": "Class 1"
        }
    ]

}


{% endschema %}