<style>

</style>

<div class="page-width">

    <h1>{{ section.settings.heading_text }}</h1>

</div>


{% schema %}

{
    "name": "Class 1",
    "settings": [
        {
        "type": "text",
        "id": "heading_text",
        "label": "Heading"
        }
    ],
    "blocks": [],
    "presets": [
        {
        "name": "Class 1"
        }
    ]

}


{% endschema %}